@media only screen and (max-width: 320px) {
  body {
    min-width: 500px
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f5f5;
}

main {
  margin: 10px
}

.date {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.App-header {
  background-color: rgb(170, 164, 164);
  border-bottom: 1px solid #fffef3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: white;
  text-shadow: 2px 6px 5px rgba(0, 0, 0, 0.3), 0px -4px 5px rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  z-index: 1;
  opacity: 80%
}

.container {
  max-width: 800px;
  margin: 90px auto 0;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px
}

.results-container {
  display: flex;
  justify-content: center
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc
}

.task {
  background-color: white;
  width: 300px;
  padding-left: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px
}

.input,
.task-input {
  border: none;
  outline: none;
  height: 1.2rem;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
  width: 80%;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: flex-end
}

.completion-button,
.priority-button,
.delete-button,
.add-task-button,
.emoji {
  cursor: pointer;
  height: 1rem;
  border: none;
  background: white;
  border: none;
  margin-right: 5px;
  margin-left: 0px;
  padding: 0px;
  height: 1.3rem;
  width: 25px;
  color: black;
  border-radius: 3px
}

.sort-button {

  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer
}

.sort-button:hover {
  background-color: #555
}

.search-container {
  display: flex;
  justify-content: center
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px
}

.tasks-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 1px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center
}

.tasks {
  display: grid;
  grid-gap: 10px
}

.completed-tasks-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 2px solid rgb(255, 221, 0);
  background: white;
  border-radius: 5px;
  width: 170px;
  height: 25px;
  margin-top: 15px;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  align-items: center;
  width: 100%;
  padding: 3px;
  font-size: 0.7em;
  border-top: 1px solid #fffef3;
  opacity: 80%
}

.form-input input {
  background-color: white;
}

.form-input.error input,
.form-input input:invalid {
  background-color: rgb(255, 234, 98);
  border-radius: 2px;
}

.no-tasks,
.error-message {
  text-align: center;
}